.dayView{
  width: 100%;

  .date{
    border-bottom: solid 1px #d5d5d5;
    padding-bottom: 5px;
  }
  .slots{
    .slot{
      padding: 5px;
      border-bottom: solid 1px #d5d5d5;
    }
    .taken{
      color: #d2d2d2;
      &:hover{
        background-color: rgba(255, 65, 65, 0.84);
      }
    }
    .free{

    }
  }
  .endSlot{

    padding-bottom: 20px;
  }
}
