amqp==2.4.2
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
certifi==2019.3.9
Django==2.2.1
django-celery==3.3.0
django-cors-headers==3.0.1
django-dotenv==1.4.1
djangorestframework==3.9.4
future==0.17.1
kombu==3.0.35
opbeat==3.5.1
psycopg2==2.6.2
pytz==2019.1
requests==2.22.0
urllib3==1.25.9
whitenoise==4.1.2
